@import '../../styles/abstracts/mixins';

.root {
  position: relative;
}

.srOnly {
  @include sr-only;
}

.qty {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
