@import '../abstracts/mixins';

.main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
  @include breakpoint(min-width, 40.3125rem) {
    display: flex;
  }
}

.recap {
  width: 100%;
  @include breakpoint(min-width, 40.3125rem) {
    width: 55%;
  }
}

.emptyCart {
  display: flex;
  justify-content: center;
  width: 100%;
}
