.container {
  max-width: 80rem;
  margin: auto;
  padding: 3rem 0;
}

.listOfBooks {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5rem 1rem;
  justify-items: center;
}
