.root {
  padding: 1rem 1.5rem;
  background: var(--primary);
  color: var(--secondary);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  margin: auto;
}

.logo {
  &Container {
    display: flex;
    align-items: center;
  }
  &Title {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }
}
